# Ignorar diretórios e arquivos gerados pelo Node.js
/node_modules
/.pnp
.pnp.js

# Ignorar arquivos de saída do Playwright
/.nyc_output
/playwright-report

# Ignorar arquivos de saída do Vitest
/vitest-report
vendor

# Ignorar arquivos de saída do JSON-Server
/db.json

# Ignorar arquivos de logs e cache do PHP (se aplicável)
/log
/tmp

# Ignorar arquivos de configuração locais (se houver)
.env
.env.local
.env.*.local

# Ignorar arquivos de saída do Vite (se aplicável)
/dist

# Ignorar arquivos de ambiente específico (se aplicável)
.env.development.local
.env.test.local
.env.production.local

# Ignorar arquivos de backup
*.bak
*.log

# Ignorar arquivos de configuração de IDEs e editores
.idea
.vscode
